<!DOCTYPE html>
<html>
  <head>
    <title>Agenda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary is-small is-bold">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Agenda
          </p>
        </div>
      </div>

      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth is-large">
          <div class="container">
            <ul>
              <%
              @is_active_home = ''
              @is_active_todos = ''
              @is_active_contacts = ''
              if controller.controller_name == "main"
                @is_active_home = 'is-active'
              elsif controller.controller_name == "todos"
                @is_active_todos = 'is-active'
              elsif controller.controller_name == "contacts" 
                @is_active_contacts = 'is-active'
              end
              %>
              <li class="<%=@is_active_home %>">
                <%= link_to("Inicio", root_path) %>
              </li>
              <li class="<%=@is_active_todos %>">
                <%= link_to("Cosas por hacer", todos_path) %>
              </li>
              <li class="<%=@is_active_contacts %>">
                <%= link_to("Lista de Contactos", contacts_path) %>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        Copyright © 2019 Agenda. All rights reserved.
      </div>
    </footer>
  </body>
</html>
